<h1> Sign up for Art Catalogue </h1>




<%= form_for :user, url: '/users' do |t|%>
    <%= label_tag "Email:" %>
    <%= t.text_field :email %>
    <br>
    <%= label_tag "Password:" %>
    <%= t.password_field :password %>
    <br>

    <%= label_tag "Password Confirmation:" %>
    <%= t.password_field :password_confirmation %>


    <%= t.submit "Sign up"%>
<% end %>