<a href="/login">Login!</a>

<h1> Sign up for Art Catalogue </h1>




<%= form_for :user, url: '/users' do |t|%>
    <%= label_tag "Email:" %>
    <%= t.text_field :email %>
    <br>
    <%= label_tag "Password:" %>
    <%= t.password_field :password %>
    <br>

    <%= label_tag "Password Confirmation:" %>
    <%= t.password_field :password_confirmation %>


    <%= t.submit "Sign up"%>
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>