<pre>
<a href="/login">Login!</a>

<h1> Sign up for Art Catalogue </h1>




<%= form_for :user, url: '/users' do |t|%>
    <%= label_tag "Name (First/Last):" %>
    <%= t.text_field :full_name %>
    <br>
    <%= label_tag "Email:" %>
    <%= t.text_field :email %>
    <br>
    <%= label_tag "Password:" %>
    <%= t.password_field :password %>
    <br>

   


    <%= t.submit "Sign up"%>
    <br>
    
<% end %>
</pre>