<pre>
<a href="/posts">Browse Paintings</a>      <a href="/posts/new">Post a Painting</a>     <a href="/users">Users</a>     <a href="/artists">Artists</a>     <a href="/logout">Logout</a>
<h1><b> <%=    @user.full_name %> </b></h1>
<h3><b>   <%= @user.posts.count%> Posts </h3>

<% if @user.posts.count == 0%>
    <b style="font-size:18px"> <%= flash.notice = "This user hasn't posted any paintings yet."%> </b>
    <% else %>

<% @user.posts.each do |post| %>
    
    Title: <%= link_to post.title, post_path(post) %>
    Artist: <%= post.artist.name%>
    <div style="width:200px; height:auto; margin-right:auto; margin-left:auto">
    <%= image_tag(post.image, style: 'width:100%')%>
    </div>
    <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
        <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
        <% else %>
        <%= button_to 'Like', post_likes_path(post), method: :post %>
        <% end %>
    
        
        <% end %>
<% end %>
    </pre>
