<pre>
<a href="/posts">Browse Paintings</a>      <a href="/posts/new">Post a Painting</a>     <a href="/users">Users</a>     <a href="/artists">Artists</a>     <a href="/logout">Logout</a>

<h1> Post a New Painting </h1>
 <%= form_for @post, url: '/posts' do |form|%>
   <div class="field">
     <%= form.label :title%>
     <%= form.text_field :title%>
   </div>
   
   <%= form.fields_for :artist, Artist.find_or_create_by(params[:artist_attributes]) do |artist|%>
   <div class="field">
      <%= artist.label :name %>
      <%= artist.text_field :name%>
      <%artist.submit%>
     <% end %>
   </div>
   <div class="field">
     <%= form.label :image%>  
     <%= form.file_field :image%>
   </div>
   <% if flash[:alert]%>
    <p style="color:red">
     <%= flash[:alert] %>
     </p>
    <% end %>
    <div class="actions">
     <%= form.submit%>
   </div>
   <% end %>
   </pre>
   

   