<pre>
<a href="/posts">Browse Paintings</a>      <a href="/posts/new">Post a Painting</a>     <a href="/users">Users</a>     <a href="/artists">Artists</a>     <a href="/logout">Logout</a>
<h1> Post a New Painting </h1>
 <%= form_for @post do |form|%>

    
    
 
   <div class="field">
     <%= form.label :title%>
     <%= form.text_field :title%>
   </div>
  <div class="field">
   <%= fields_for :artist, Artist.new do |f|%>
   
   <%= f.label :name%>
   <%= f.text_area :name%>
   
     <% end %>
   </div>
   <br>
   <div class="field">
     <%= form.label :image%>  
     <%= form.file_field :image%>
   </div>
   <br>
    <div class="actions">
     <%= form.submit%>
   </div>
   <% end %>
   </pre>
   

   