<!DOCTYPE html>
<html>
  <head>
    <title>ArtCatalogue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <header class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        <%=  link_to 'My Posts', user_path(current_user), class: "navbar-brand"%>
        </div>
  <ul class="nav navbar-nav navbar-right">
   <% if logged_in?%>
      <li><a href="/posts">Browse Paintings</a></li>
      <li><a href="/posts/new">Post a Painting</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/logout">Logout</a></li>
    <% else%>
      <li><a href="/login">Login</a></li>
      <li><a href="/login">Signup</a></li>
   <% end %>
   </ul>
   </div>
   </nav>
   </header>
    
      
    <%= yield %>
  </body>
</html>
